* {
    
    margin: auto;
}

html, body {
    width: 100%;
    height: 100%;
    
}

body{
    z-index: 2;
    
}

html {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
}

/* Head */

div#head{
    margin-top: 10px;
    width: 85%;
    height: 15%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url('../img/logo.jpg');
    background-size: cover;
    border-style: groove;
    border-color:burlywood;
    border-width: 15px;
}

/* Clear */

div#clear {
    clear: both;
}

/* Contenido */

div#content{
    position: relative;
    width: 85%;
    height: auto;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
    
}

/* Caja contenido */

div#principal{
    background-color: white;
    float: left;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

/* Blanco */

.blanco{
    width: 95%;
    float: left;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    background: azure;
    
}

.blanco *{
    margin: 5px;
}


/* Negro */

.negro{
    width: 95%;
    float: left;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    background: rgb(216,229,229);
    
}

.negro *{
    margin: 5px;
}

/* Footer */

div#footer{
    text-align: center;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #9b805e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Botones back */

button#btnbackTop{
    position: absolute;
    top: 10px;
    left: 45%;
    
}

button#btnbackBottom{
    position: absolute;
    bottom: 10px;
    left: 45%;
}

/* Cuadrado error */

div#cuadradoError{
    border: 2px red solid;
    z-index: 5;
    background-color: whitesmoke;

    text-align:center;

    width: 40%;
    position: fixed;
    left: 30%;
    
    display: none;

}

div#textoError{
    
    display: inline-block;
    padding: 50px;
    
}

/* Div imagenes */

div#imagenes .imagen{
    float: left;
    text-align: center;
}