* {
    text-align: center;
    margin: auto;
}

html, body {
    width: 100%;
    height: 100%;
    
}

body{
    z-index: 2;
    
}

html {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
}

/* Head */

div#head{
    margin-top: 10px;
    width: 85%;
    height: 15%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url('../img/logo.jpg');
    background-size: cover;
    border-style: groove;
    border-color:burlywood;
    border-width: 15px;
}

/* Perfil avatar */

div#perfilAvatar{
    position: fixed;
    right: 50px;
    top: 70px;
    z-index: 5;
    display: none;
}

div#perfilAvatar img{
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

div#perfilAvatar img:hover{
    -webkit-box-shadow: -1px 3px 57px 3px rgba(230,215,0,1);
    -moz-box-shadow: -1px 3px 57px 3px rgba(230,215,0,1);
    box-shadow: -1px 3px 57px 3px rgba(230,215,0,1);
}

/* Menu */

div#menu{
    margin-top: 10px;
    width: 85%;
    height: 10%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div.btnwidget{
    display:inline-block;
    height: 50%;
    
}

div.btnwidget button, button.btnback{
    border: 2px solid aquamarine;
}

button#btnnew{
    display:none;
}

.ui-dialog {
    overflow: visible!important;
    z-index: 149!important;}
    
div.ui-selectmenu-menu.ui-selectmenu-open{
    z-index: 150!important;
}

/* Botones back */

button#btnbackTop{
    position: absolute;
    top: 10px;
    left: 45%;
    display: none;
    
}

button#btnbackBottom{
    position: absolute;
    bottom: 10px;
    left: 45%;
    display: none;
}

/* Clear */

div#clear {
    clear: both;
}

/* Contenido */

div#content{
    position: relative;
    width: 85%;
    height: auto;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

/* Menu filtro */

div#filter{
    float: left;
    width: 20%;
    height: auto;
    padding-bottom: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    display: none;
    
}

div#filter p{
    margin: 20px;

}

div#filter div#boxname{
    margin: 5px;
}

div#filter p{
    font-weight:bold;
}

span#country-button{
    width: 180px;
    
}

div#filter > p:first-child{
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding-bottom: 20px;
    padding-top: 20px;
}



/* Caja contenido */

div#principal{
    background-color: white;
    float: left;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}


/* Cuadrado reservas */

div.reservas{
    background-color: rgb(159, 255, 223);
    width: 280px;
    height: 200px;
    margin: 3%;
    border-radius: 25px;
    position: relative;
    display:inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

div.reservas:hover{
    -webkit-box-shadow: -1px 3px 57px 3px rgba(230,215,0,1);
    -moz-box-shadow: -1px 3px 57px 3px rgba(230,215,0,1);
    box-shadow: -1px 3px 57px 3px rgba(230,215,0,1);
}

div.reservas *{
    margin: 5px;
}

div.reservas p.titulo{
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.reservas img.foto{
    width: 200px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.reservas img.reservar{
    
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    bottom: 0px;
    background-color: whitesmoke;
    
}

div.reservas img.reservar:hover{
    opacity: 0.7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.reservas p.precio{
    position: absolute;
    left: 35px;
}

input#amount{
    border:0; color:#f6931f; font-weight:bold;
}

/* Informacion reserva */

div#reservaIndividual{
    box-shadow: inset 0 0 25px rgb(41, 127, 108);
    border: 2.5px solid rgb(41, 127, 108);
    background-color: rgb(223, 255, 243);
    
}

div#reservaIndividual * {
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#reservaTitulo{
    padding: 20px;
    width: 50%;
}

#reservaImg{
    width: 500px;
}

#reservaInfo pre{
    padding: 20px; 
    width: 80%;

}

#reservaInfo{
    padding: 20px;
    width: 80%;
    margin-bottom: 20px;

}



/* Footer */

div#footer{
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #9b805e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Dialogos */

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

/* menu admin */

.ui-menu { width: 150px; height: auto;}